n8n-workflow-jaaropgave-pdf.json
{
  "name": "Jaaropgave PDF → Google Drive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jaaropgave-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "71f17e33-12fd-4ca4-bdb0-8f1f48d77201",
      "name": "Webhook – Ontvang jaaropgave",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1220,
        520
      ],
      "webhookId": "jaaropgave-pdf-webhook-unique-id-001"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.body;\nconst esc = (v) => String(v ?? '').replaceAll('&','&amp;').replaceAll('<','&lt;').replaceAll('>','&gt;').replaceAll('\"','&quot;').replaceAll(\"'\",'&#39;');\nconst euro = (v) => new Intl.NumberFormat('nl-NL', { style: 'currency', currency: 'EUR' }).format(Number(v ?? 0));\nconst dateFmt = (s) => new Intl.DateTimeFormat('nl-NL', { dateStyle: 'long' }).format(new Date(s));\nconst monthLabel = (label) => String(label ?? '').toUpperCase();\n\nconst from = d.from ?? {};\nconst companyName  = from.companyName ?? '';\nconst companyEmail = from.email ?? '';\nconst companyWeb   = from.websiteUrl ?? '';\nconst companyAddr  = from.address ?? '';\nconst companyKvk   = from.kvkNumber ?? '';\nconst companyVat   = from.vatNumber ?? '';\nconst companyIban  = from.iban ?? '';\nconst companyPhone = from.phone ?? '';\nconst footerText   = d.defaults?.footerText ?? '';\nconst termsText    = d.defaults?.termsText ?? '';\nconst filterLabel  = d.paidOnly ? 'Alleen betaalde facturen' : 'Alle facturen';\nconst monthlyRows  = Array.isArray(d.monthlyBreakdown)\n  ? d.monthlyBreakdown.map((month) => `\n      <tr>\n        <td>${esc(monthLabel(month.label))}</td>\n        <td>${esc(String(month.invoice_count ?? 0))}</td>\n        <td>${euro(month.total_ex_vat)}</td>\n        <td>${euro(month.total_vat)}</td>\n        <td>${euro(month.total_inc_vat)}</td>\n      </tr>`).join('')\n  : '';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"nl\">\n<head>\n<meta charset=\"UTF-8\"/>\n<link href=\"https://fonts.googleapis.com/css2?family=Syne:wght@700;800&family=DM+Sans:wght@400;500;700&display=swap\" rel=\"stylesheet\"/>\n<style>\n  *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n  :root {\n    --orange: #f38b53;\n    --ink: #1c2031;\n    --cream: #f7f3ee;\n    --muted: #6b7280;\n    --border: rgba(28,32,49,.1);\n  }\n  body { font-family: 'DM Sans', Arial, sans-serif; font-size: 13px; line-height: 1.65; color: var(--ink); background: #fff; }\n  .top-bar { height: 5px; background: var(--orange); }\n  .page { padding: 48px 56px 56px; }\n  .header { display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 44px; }\n  .brand { font-family: 'Syne', sans-serif; font-size: 22px; font-weight: 800; color: var(--ink); letter-spacing: -.4px; }\n  .brand-dot { display: inline-block; width: 7px; height: 7px; background: var(--orange); border-radius: 50%; margin-left: 2px; vertical-align: middle; position: relative; top: -2px; }\n  .brand-sub { font-size: 11px; color: var(--muted); margin-top: 4px; }\n  .doc-meta { text-align: right; }\n  .doc-meta .doc-type { font-family: 'Syne', sans-serif; font-size: 10px; font-weight: 700; letter-spacing: .14em; text-transform: uppercase; color: var(--orange); margin-bottom: 4px; }\n  .doc-meta .nr { font-family: 'Syne', sans-serif; font-size: 20px; font-weight: 800; color: var(--ink); letter-spacing: -.4px; line-height: 1; margin-bottom: 10px; }\n  .doc-meta table { margin-left: auto; border-collapse: collapse; }\n  .doc-meta table td { font-size: 11.5px; padding: 1.5px 0; }\n  .doc-meta table td:first-child { padding-right: 14px; color: var(--muted); text-align: right; }\n  .doc-meta table td:last-child { font-weight: 500; color: var(--ink); }\n  hr { border: none; border-top: 1px solid var(--border); margin: 0 0 32px; }\n  .summary-grid { display: grid; grid-template-columns: repeat(4, 1fr); gap: 16px; margin-bottom: 32px; }\n  .summary-card { background: var(--cream); border-radius: 12px; padding: 18px; }\n  .summary-card .label { font-size: 10px; font-weight: 700; letter-spacing: .1em; text-transform: uppercase; color: var(--muted); margin-bottom: 6px; }\n  .summary-card .value { font-family: 'Syne', sans-serif; font-size: 18px; font-weight: 700; color: var(--ink); }\n  .section { margin-bottom: 28px; }\n  .section-label { font-size: 10px; font-weight: 700; letter-spacing: .1em; text-transform: uppercase; color: var(--muted); margin-bottom: 8px; }\n  .section p { font-size: 13px; color: var(--ink); line-height: 1.75; opacity: .85; }\n  .table { width: 100%; border-collapse: collapse; }\n  .table th, .table td { padding: 10px 0; border-bottom: 1px solid var(--border); font-size: 12.5px; }\n  .table th { text-align: left; color: var(--muted); font-size: 10px; letter-spacing: .08em; text-transform: uppercase; }\n  .table td:last-child, .table th:last-child { text-align: right; }\n  .table .total-row td { font-family: 'Syne', sans-serif; font-size: 14px; font-weight: 700; border-top: 2px solid var(--ink); border-bottom: none; padding-top: 14px; }\n  .meta-block { margin-bottom: 24px; padding: 20px 24px; background: var(--cream); border-radius: 12px; }\n  .meta-row { display: flex; justify-content: space-between; font-size: 12px; color: var(--muted); padding: 4px 0; }\n  .meta-row span:last-child { font-weight: 500; color: var(--ink); }\n  .terms { font-size: 11px; color: var(--muted); line-height: 1.75; opacity: .8; margin-bottom: 28px; }\n  .page-footer { margin-top: 48px; padding-top: 16px; border-top: 1px solid var(--border); font-size: 10.5px; color: var(--muted); opacity: .7; line-height: 1.9; display: flex; justify-content: space-between; gap: 24px; }\n  .page-footer .right { text-align: right; }\n</style>\n</head>\n<body>\n<div class=\"top-bar\"></div>\n<div class=\"page\">\n  <div class=\"header\">\n    <div>\n      <div class=\"brand\">${esc(companyName)}<span class=\"brand-dot\"></span></div>\n      <div class=\"brand-sub\">${esc(companyWeb)}${companyWeb && companyEmail ? '&nbsp;&nbsp;·&nbsp;&nbsp;' : ''}${esc(companyEmail)}</div>\n    </div>\n    <div class=\"doc-meta\">\n      <div class=\"doc-type\">Jaaropgave</div>\n      <div class=\"nr\">${esc(String(d.year ?? ''))}</div>\n      <table>\n        <tr><td>Rapporttype</td><td>Financieel jaaroverzicht</td></tr>\n        <tr><td>Gegenereerd op</td><td>${dateFmt(d.generatedAt)}</td></tr>\n        <tr><td>Filter</td><td>${esc(filterLabel)}</td></tr>\n      </table>\n    </div>\n  </div>\n\n  <hr/>\n\n  <div class=\"summary-grid\">\n    <div class=\"summary-card\">\n      <div class=\"label\">Aantal facturen</div>\n      <div class=\"value\">${esc(String(d.invoiceCount ?? 0))}</div>\n    </div>\n    <div class=\"summary-card\">\n      <div class=\"label\">Omzet ex BTW</div>\n      <div class=\"value\">${euro(d.totalExVat)}</div>\n    </div>\n    <div class=\"summary-card\">\n      <div class=\"label\">BTW</div>\n      <div class=\"value\">${euro(d.totalVat)}</div>\n    </div>\n    <div class=\"summary-card\">\n      <div class=\"label\">Omzet incl BTW</div>\n      <div class=\"value\">${euro(d.totalIncVat)}</div>\n    </div>\n  </div>\n\n  <div class=\"meta-block\">\n    <div class=\"meta-row\"><span>Periode</span><span>${esc(d.period?.startDate ?? '')} t/m ${esc(d.period?.endDate ?? '')}</span></div>\n    <div class=\"meta-row\"><span>Bedrijf</span><span>${esc(companyName)}</span></div>\n    ${companyIban ? `<div class=\"meta-row\"><span>IBAN</span><span>${esc(companyIban)}</span></div>` : ''}\n    ${companyKvk ? `<div class=\"meta-row\"><span>KvK</span><span>${esc(companyKvk)}</span></div>` : ''}\n    ${companyVat ? `<div class=\"meta-row\"><span>BTW-nummer</span><span>${esc(companyVat)}</span></div>` : ''}\n  </div>\n\n  <div class=\"section\">\n    <div class=\"section-label\">Maandelijkse uitsplitsing</div>\n    <table class=\"table\">\n      <thead>\n        <tr>\n          <th>Maand</th>\n          <th>Aantal</th>\n          <th>Ex BTW</th>\n          <th>BTW</th>\n          <th>Incl BTW</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${monthlyRows}\n        <tr class=\"total-row\">\n          <td>Totaal</td>\n          <td>${esc(String(d.invoiceCount ?? 0))}</td>\n          <td>${euro(d.totalExVat)}</td>\n          <td>${euro(d.totalVat)}</td>\n          <td>${euro(d.totalIncVat)}</td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n\n  ${termsText ? `<div class=\"terms\">${esc(termsText)}</div>` : ''}\n\n  <div class=\"page-footer\">\n    <div>\n      ${esc(companyName)}<br/>\n      ${companyAddr ? esc(companyAddr) + '<br/>' : ''}\n      ${esc(companyEmail)}${companyPhone ? ' &nbsp;·&nbsp; ' + esc(companyPhone) : ''}\n    </div>\n    <div class=\"right\">\n      ${companyKvk ? 'KVK ' + esc(companyKvk) + '<br/>' : ''}\n      ${companyVat ? 'BTW ' + esc(companyVat) + '<br/>' : ''}\n      Jaaropgave ${esc(String(d.year ?? ''))}\n      ${footerText ? '<br/>' + esc(footerText) : ''}\n    </div>\n  </div>\n</div>\n</body>\n</html>`;\n\nreturn [{ json: { ...d, html } }];"
      },
      "id": "a0b49058-d0a2-44f8-bb0d-f84933da4f90",
      "name": "Bouw HTML jaaropgave",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.2.14:3001/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": {{ JSON.stringify($json.html) }},\n  \"format\": \"A4\",\n  \"margin\": \"16mm 16mm 16mm 16mm\",\n  \"timeout\": 30\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "d6f7f44f-a411-4664-804b-fbe1bd0f230e",
      "name": "HTML → PDF (html2pdf)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        520
      ]
    },
    {
      "parameters": {
        "name": "=Jaaropgave - {{ $('Bouw HTML jaaropgave').item.json.from.companyName || 'Bedrijf' }} - {{ $('Bouw HTML jaaropgave').item.json.year }}.pdf",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1e2bzWKRrxNWyBIgX5dgsum8Cx2k74xae",
          "mode": "url"
        },
        "options": {}
      },
      "id": "c2d122a7-5a2f-4af5-8e16-8cf532278632",
      "name": "Upload naar Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1940,
        520
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "j6FUWoXphw2lPiUG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"driveUrl\": \"{{ $json.webViewLink }}\" }",
        "options": {}
      },
      "id": "a3410f0f-3091-4e45-b96c-59685a3cfc88",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2180,
        520
      ]
    }
  ],
  "connections": {
    "Webhook – Ontvang jaaropgave": {
      "main": [
        [
          {
            "node": "Bouw HTML jaaropgave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bouw HTML jaaropgave": {
      "main": [
        [
          {
            "node": "HTML → PDF (html2pdf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML → PDF (html2pdf)": {
      "main": [
        [
          {
            "node": "Upload naar Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload naar Google Drive": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "5f3df8f20b1b3e507874502c6b6a8ac02a4e70f4290a80feec850b51ed962a44"
  }
}
