n8n-workflow-email-send.json
{
  "name": "E-mail Verzenden via Gmail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-send",
      "name": "Webhook – Verzend e-mail",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.to.join(',') }}",
        "subject": "={{ $json.body.subject }}",
        "emailType": "text",
        "message": "={{ $json.body.bodyText }}",
        "options": {
          "ccList": "={{ $json.body.cc?.join(',') || '' }}"
        }
      },
      "id": "gmail-send",
      "name": "Gmail – Verstuur",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [480, 0],
      "credentials": {
        "gmailOAuth2": { "id": "JOUW_GMAIL_CREDENTIAL_ID", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 0]
    }
  ],
  "connections": {
    "Webhook – Verzend e-mail": { "main": [[{ "node": "Gmail – Verstuur", "type": "main", "index": 0 }]] },
    "Gmail – Verstuur": { "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]] }
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
