n8n-workflow-offerte-pdf.json
{
  "name": "Offerte PDF → Google Drive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "offerte-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "55b8fa2a-465b-44aa-827e-6d89440dcd16",
      "name": "Webhook – Ontvang offerte",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2112,
        0
      ],
      "webhookId": "87d654c7-47af-4071-bcd4-dc5302b9ec90"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.body;\n\nconst esc = (v) => String(v ?? '').replaceAll('&','&amp;').replaceAll('<','&lt;').replaceAll('>','&gt;').replaceAll('\"','&quot;').replaceAll(\"'\",'&#39;');\nconst br  = (v) => esc(v).replace(/\\n/g,'<br/>');\nconst euro = (v) => new Intl.NumberFormat('nl-NL',{style:'currency',currency:'EUR'}).format(Number(v??0));\nconst dateFmt = (d) => new Intl.DateTimeFormat('nl-NL',{dateStyle:'long'}).format(d);\n\nconst vandaag   = new Date();\nconst geldigTot = new Date(vandaag); geldigTot.setDate(geldigTot.getDate() + 30);\n\nconst fromName  = esc(d.from?.companyName ?? '');\nconst fromEmail = esc(d.from?.email ?? '');\nconst fromWeb   = esc(d.from?.websiteUrl ?? '');\nconst fromAddr  = br(d.from?.address ?? '');\nconst fromVat   = esc(d.from?.vatNumber ?? '');\nconst fromKvk   = esc(d.from?.kvkNumber ?? '');\nconst fromPhone = esc(d.from?.phone ?? '');\n\nconst offerteNr = esc(d.offerteNumber ?? ('OFF-' + vandaag.getFullYear() + '-' + String(d.proposalId ?? '').slice(-6).toUpperCase()));\nconst exclBtw   = d.amount != null ? Number(d.amount) : null;\nconst vatPct    = Number(d.vatRate ?? 21);\nconst btwBedrag = exclBtw != null ? exclBtw * (vatPct / 100) : null;\nconst inclBtw   = exclBtw != null ? exclBtw + btwBedrag : null;\n\nconst scopeItems = d.scope\n  ? String(d.scope).split('\\n').map(l => l.trim()).filter(Boolean).map(l => `<li>${esc(l)}</li>`).join('')\n  : '';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"nl\">\n<head>\n<meta charset=\"UTF-8\"/>\n<style>\n*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\nbody { font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 12.5px; line-height: 1.65; color: #111827; background: #fff; padding: 48px 52px; }\n\n/* ── Header ── */\n.header { display: flex; justify-content: space-between; align-items: flex-start; padding-bottom: 24px; border-bottom: 3px solid #111827; margin-bottom: 32px; }\n.brand { font-size: 22px; font-weight: 800; color: #111827; letter-spacing: -.4px; }\n.brand-sub { font-size: 11px; color: #6b7280; margin-top: 3px; }\n.doc-block { text-align: right; }\n.doc-block h1 { font-size: 26px; font-weight: 800; color: #111827; letter-spacing: -.5px; }\n.doc-meta { font-size: 11px; color: #4b5563; line-height: 2; margin-top: 5px; }\n.doc-meta strong { color: #111827; }\n\n/* ── Partijen ── */\n.parties { display: grid; grid-template-columns: 1fr 1fr; gap: 16px; margin-bottom: 28px; }\n.party { background: #f9fafb; border: 1px solid #e5e7eb; border-radius: 8px; padding: 16px 18px; }\n.party-lbl { font-size: 10px; font-weight: 700; text-transform: uppercase; letter-spacing: .1em; color: #9ca3af; margin-bottom: 6px; }\n.party-name { font-size: 13px; font-weight: 700; color: #111827; margin-bottom: 2px; }\n.party-detail { font-size: 11.5px; color: #4b5563; line-height: 1.75; }\n\n/* ── Sectie ── */\n.section { margin-bottom: 24px; }\n.section-title { font-size: 10px; font-weight: 700; text-transform: uppercase; letter-spacing: .09em; color: #6b7280; border-bottom: 1px solid #e5e7eb; padding-bottom: 5px; margin-bottom: 10px; }\n.section p { font-size: 12.5px; color: #374151; line-height: 1.75; }\n.section ul { padding-left: 18px; }\n.section ul li { font-size: 12.5px; color: #374151; line-height: 1.8; }\n\n/* ── Prijstabel ── */\n.price-table { width: 100%; border-collapse: collapse; margin-bottom: 0; }\n.price-table td { padding: 8px 10px; font-size: 12.5px; border-bottom: 1px solid #f3f4f6; }\n.price-table td:last-child { text-align: right; font-variant-numeric: tabular-nums; }\n.price-table .muted td { font-size: 12px; color: #9ca3af; }\n.price-table .grand td { font-size: 15px; font-weight: 700; color: #111827; border-top: 2px solid #111827; border-bottom: none; padding-top: 10px; }\n\n/* ── Info-kaartjes ── */\n.info-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 12px; margin-bottom: 24px; }\n.info-card { background: #f9fafb; border: 1px solid #e5e7eb; border-radius: 8px; padding: 14px 16px; }\n.info-card .k { font-size: 10px; font-weight: 700; text-transform: uppercase; letter-spacing: .08em; color: #9ca3af; margin-bottom: 3px; }\n.info-card .v { font-size: 13px; font-weight: 600; color: #111827; }\n.info-card .s { font-size: 11px; color: #6b7280; margin-top: 2px; }\n\n/* ── Akkoordblok ── */\n.akkoord { border: 1px solid #e5e7eb; border-radius: 8px; padding: 24px; margin-top: 8px; }\n.akkoord-title { font-size: 13px; font-weight: 700; color: #111827; margin-bottom: 8px; }\n.akkoord-text { font-size: 12px; color: #6b7280; line-height: 1.7; margin-bottom: 28px; }\n.sig-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 32px; }\n.sig-lbl { font-size: 11px; color: #9ca3af; margin-bottom: 4px; }\n.sig-line { border-bottom: 1px solid #9ca3af; height: 40px; margin-bottom: 6px; }\n.sig-name { font-size: 12px; color: #4b5563; }\n\n/* ── Footer ── */\n.footer { margin-top: 36px; padding-top: 12px; border-top: 1px solid #e5e7eb; font-size: 10px; color: #9ca3af; display: flex; justify-content: space-between; gap: 16px; line-height: 1.8; }\n.footer-r { text-align: right; }\n</style>\n</head>\n<body>\n\n<!-- HEADER -->\n<div class=\"header\">\n  <div>\n    <div class=\"brand\">${fromName}</div>\n    <div class=\"brand-sub\">${fromWeb}${fromWeb && fromEmail ? ' · ' : ''}${fromEmail}${fromPhone ? ' · ' + fromPhone : ''}</div>\n  </div>\n  <div class=\"doc-block\">\n    <h1>OFFERTE</h1>\n    <div class=\"doc-meta\">\n      <strong>Offertenummer:</strong> ${offerteNr}<br/>\n      <strong>Datum:</strong> ${dateFmt(vandaag)}<br/>\n      <strong>Geldig tot:</strong> ${dateFmt(geldigTot)}\n    </div>\n  </div>\n</div>\n\n<!-- PARTIJEN -->\n<div class=\"parties\">\n  <div class=\"party\">\n    <div class=\"party-lbl\">Aanbieder</div>\n    <div class=\"party-name\">${fromName}</div>\n    <div class=\"party-detail\">\n      ${fromAddr ? fromAddr + '<br/>' : ''}\n      ${fromEmail ? fromEmail + '<br/>' : ''}\n      ${fromWeb ? fromWeb + '<br/>' : ''}\n      ${fromKvk ? 'KVK: ' + fromKvk + '<br/>' : ''}\n      ${fromVat ? 'BTW: ' + fromVat : ''}\n    </div>\n  </div>\n  <div class=\"party\">\n    <div class=\"party-lbl\">Opdrachtgever</div>\n    <div class=\"party-name\">${esc(d.recipientCompany ?? d.recipientName ?? '')}</div>\n    <div class=\"party-detail\">\n      ${d.recipientCompany && d.recipientName ? esc(d.recipientName) + '<br/>' : ''}\n      ${d.recipientAddress ? br(d.recipientAddress) + '<br/>' : ''}\n      ${esc(d.recipientEmail ?? '')}\n    </div>\n  </div>\n</div>\n\n<!-- ONDERWERP -->\n<div class=\"section\">\n  <div class=\"section-title\">Onderwerp</div>\n  <p><strong>${esc(d.title ?? '')}</strong></p>\n</div>\n\n<!-- OMSCHRIJVING -->\n<div class=\"section\">\n  <div class=\"section-title\">Omschrijving werkzaamheden</div>\n  <p>${br(d.summary ?? '')}</p>\n</div>\n\n${scopeItems ? `<!-- SCOPE -->\n<div class=\"section\">\n  <div class=\"section-title\">Scope</div>\n  <ul>${scopeItems}</ul>\n</div>` : ''}\n\n${d.deliveryTime ? `<!-- PLANNING -->\n<div class=\"section\">\n  <div class=\"section-title\">Planning &amp; doorlooptijd</div>\n  <p>${esc(d.deliveryTime)}</p>\n</div>` : ''}\n\n${d.notes ? `<!-- OPMERKINGEN -->\n<div class=\"section\">\n  <div class=\"section-title\">Opmerkingen</div>\n  <p>${br(d.notes)}</p>\n</div>` : ''}\n\n${exclBtw != null ? `<!-- PRIJS -->\n<div class=\"section\">\n  <div class=\"section-title\">Prijsopgave</div>\n  <table class=\"price-table\">\n    <tr>\n      <td>${esc(d.priceLabel ?? 'Projectprijs')}</td>\n      <td>${euro(exclBtw)}</td>\n    </tr>\n    <tr class=\"muted\">\n      <td>BTW ${vatPct}%</td>\n      <td>${euro(btwBedrag)}</td>\n    </tr>\n    <tr class=\"grand\">\n      <td>Totaal incl. BTW</td>\n      <td>${euro(inclBtw)}</td>\n    </tr>\n  </table>\n</div>\n\n<!-- BETAALAFSPRAKEN -->\n<div class=\"info-grid\">\n  <div class=\"info-card\">\n    <div class=\"k\">Aanbetaling</div>\n    <div class=\"v\">${euro(inclBtw * 0.5)} (50%)</div>\n    <div class=\"s\">Te voldoen bij akkoord</div>\n  </div>\n  <div class=\"info-card\">\n    <div class=\"k\">Restbetaling</div>\n    <div class=\"v\">${euro(inclBtw * 0.5)} (50%)</div>\n    <div class=\"s\">Te voldoen bij oplevering</div>\n  </div>\n  ${d.from?.iban ? `<div class=\"info-card\">\n    <div class=\"k\">IBAN</div>\n    <div class=\"v\">${esc(d.from.iban)}</div>\n    <div class=\"s\">${esc(d.from?.bankName ?? '')}</div>\n  </div>` : ''}\n  <div class=\"info-card\">\n    <div class=\"k\">Geldig tot</div>\n    <div class=\"v\">${dateFmt(geldigTot)}</div>\n    <div class=\"s\">30 dagen na offertedatum</div>\n  </div>\n</div>` : ''}\n\n<!-- AKKOORD -->\n<div class=\"akkoord\">\n  <div class=\"akkoord-title\">Akkoord &amp; ondertekening</div>\n  <div class=\"akkoord-text\">\n    Door ondertekening gaat u akkoord met de bovenstaande offerte en de bijbehorende voorwaarden.\n    ${d.termsUrl ? `Onze algemene voorwaarden zijn beschikbaar op <strong>${esc(d.termsUrl)}</strong>.` : ''}\n  </div>\n  <div class=\"sig-grid\">\n    <div>\n      <div class=\"sig-lbl\">Namens aanbieder — ${fromName}</div>\n      <div class=\"sig-line\"></div>\n      <div class=\"sig-name\">Naam &amp; handtekening</div>\n    </div>\n    <div>\n      <div class=\"sig-lbl\">Namens opdrachtgever — ${esc(d.recipientCompany ?? d.recipientName ?? '')}</div>\n      <div class=\"sig-line\"></div>\n      <div class=\"sig-name\">Naam &amp; handtekening &nbsp;&nbsp;&nbsp;&nbsp; Datum</div>\n    </div>\n  </div>\n</div>\n\n<!-- FOOTER -->\n<div class=\"footer\">\n  <div>\n    ${fromName}<br/>\n    ${fromAddr ? fromAddr + '<br/>' : ''}\n    ${fromEmail}\n  </div>\n  <div class=\"footer-r\">\n    ${fromKvk ? 'KVK: ' + fromKvk + '<br/>' : ''}\n    ${fromVat ? 'BTW: ' + fromVat + '<br/>' : ''}\n    Offerte ${offerteNr}\n  </div>\n</div>\n\n</body>\n</html>`;\n\nreturn [{ json: { ...d, html } }];"
      },
      "id": "21f17bc2-a7c2-442b-aeb9-60949294bb1c",
      "name": "Bouw HTML offerte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        0
      ]
    },
    {
      "parameters": {
        "name": "=Offerte - {{ $('Bouw HTML offerte').item.json.recipientCompany ?? $('Bouw HTML offerte').item.json.recipientName }} - {{ $now.format('yyyy-MM-dd') }}.pdf",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1e2bzWKRrxNWyBIgX5dgsum8Cx2k74xae",
          "mode": "url"
        },
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "6e156141-85ee-4849-b725-73c147fdae99",
      "name": "Upload naar Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3072,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "j6FUWoXphw2lPiUG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://portal.webvakwerk.nl/api/internal/proposals/{{ $('Bouw HTML offerte').item.json.proposalId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 8VIluuOv8tilh6L7+bkAb6AsJW9oYplzCEMXKjeFUWo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "driveUrl",
              "value": "={{ $json.webViewLink }}"
            },
            {
              "name": "driveFileId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4a92e33b-be1b-4a79-90a5-6ce5eb6c95ad",
      "name": "Callback → Ticket systeem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3312,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "9e237008-b3e0-4d23-a605-2502b7c15b2e",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3552,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.16.2.14:3001/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": {{ JSON.stringify($('Bouw HTML offerte').item.json.html) }},\n  \"format\": \"A4\",\n  \"margin\": \"12mm 12mm 12mm 12mm\",\n  \"timeout\": 30\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "html2pdf-offerte",
      "name": "HTML → PDF (html2pdf)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        0
      ]
    }
  ],
  "connections": {
    "Webhook – Ontvang offerte": {
      "main": [
        [
          {
            "node": "Bouw HTML offerte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bouw HTML offerte": {
      "main": [
        [
          {
            "node": "HTML → PDF (html2pdf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload naar Google Drive": {
      "main": [
        [
          {
            "node": "Callback → Ticket systeem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback → Ticket systeem": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML → PDF (html2pdf)": {
      "main": [
        [
          {
            "node": "Upload naar Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook – Ontvang offerte": [
      {
        "headers": {
          "host": "automation.stijnvandepol.nl",
          "user-agent": "node",
          "content-length": "1005",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "*",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "188.90.207.96",
          "cf-ipcountry": "NL",
          "cf-ray": "9debef660dcbdef8-AMS",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-warp-tag-id": "1f81cca8-38f6-49a8-a622-85796573ce8a",
          "connection": "keep-alive",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-forwarded-for": "188.90.207.96",
          "x-forwarded-proto": "https"
        },
        "params": {},
        "query": {},
        "body": {
          "proposalId": "cmmxcr2vf000hp80778zas3h3",
          "title": "Offerte TechStart – Launch Landing Page",
          "recipientName": "Robin de Vries",
          "recipientEmail": "robin@techstart.io",
          "recipientCompany": "TechStart B.V.",
          "recipientAddress": "High Tech Campus 5, 5656 AE Eindhoven",
          "summary": "Single-page landing site voor de product launch van TechStart's nieuwe fintech app. CTA-gericht, hoge conversie.",
          "scope": "1 pagina: hero, features, social proof, early access form, footer. Geen blog, geen aparte pagina's.",
          "priceLabel": "Projectprijs",
          "amount": 200,
          "deliveryTime": "3w",
          "notes": "est",
          "client": {
            "id": "client-techstart-bv",
            "companyName": "TechStart B.V.",
            "contactName": "Robin de Vries",
            "email": "robin@techstart.io",
            "address": "High Tech Campus 5, 5656 AE Eindhoven"
          },
          "project": {
            "id": "project-techstart-landing",
            "name": "TechStart – Launch Landing Page",
            "description": "Single-page landing site voor de product launch van TechStart's nieuwe fintech app. CTA-gericht, hoge conversie."
          },
          "createdAt": "2026-03-19T10:53:44.135Z"
        },
        "webhookUrl": "https://automation.stijnvandepol.nl/webhook/offerte-pdf",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f3df8f20b1b3e507874502c6b6a8ac02a4e70f4290a80feec850b51ed962a44"
  }
}