n8n-workflow-email-inbound.json
{
  "name": "E-mail Inbound → Ticket systeem",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "filters": { "readStatus": "unread", "sender": "" },
        "options": { "downloadAttachments": true }
      },
      "id": "gmail-trigger",
      "name": "Gmail – Nieuwe e-mails",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 0],
      "credentials": {
        "gmailOAuth2": { "id": "JOUW_GMAIL_CREDENTIAL_ID", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst binary = $input.first().binary || {};\n\nconst from = msg.from || '';\nconst fromMatch = from.match(/^(.+?)\\s*<(.+?)>$/);\nconst fromName = fromMatch ? fromMatch[1].trim() : null;\nconst fromEmail = fromMatch ? fromMatch[2].trim() : from.trim();\n\nconst toRaw = Array.isArray(msg.to) ? msg.to : [msg.to || ''];\nconst toAddresses = toRaw.map(t => { const m = t.match(/<(.+?)>/); return m ? m[1] : t.trim(); }).filter(Boolean);\n\n// Haal bijlagemetadata op uit binary velden (geen data, alleen naam/type/grootte)\nconst attachments = Object.entries(binary)\n  .filter(([key]) => key.startsWith('attachment'))\n  .map(([, bin]) => ({\n    name: bin.fileName || 'bijlage',\n    mimeType: bin.mimeType || 'application/octet-stream',\n    size: bin.fileSize || 0,\n  }));\n\nreturn [{\n  json: {\n    externalId: msg.id,\n    fromName,\n    fromEmail,\n    toAddresses,\n    ccAddresses: [],\n    subject: msg.subject || '(geen onderwerp)',\n    bodyText: msg.text || null,\n    bodyHtml: msg.html || null,\n    threadId: msg.threadId || null,\n    receivedAt: msg.date || new Date().toISOString(),\n    attachments: attachments.length > 0 ? attachments : undefined,\n  }\n}];"
      },
      "id": "parse-email",
      "name": "Parseer e-mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.webvakwerk.nl/api/internal/emails/inbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer JOUW_INTERNAL_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "push-to-app",
      "name": "Push naar ticket systeem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 0]
    }
  ],
  "connections": {
    "Gmail – Nieuwe e-mails": { "main": [[{ "node": "Parseer e-mail", "type": "main", "index": 0 }]] },
    "Parseer e-mail": { "main": [[{ "node": "Push naar ticket systeem", "type": "main", "index": 0 }]] }
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
